In [25]:
import os 
import pandas as pd 
import math

In [2]:
# set mouse flat path 
mouse_flat_path = '../Data/mouse-flat.csv'

# read data 
data = pd.read_csv(mouse_flat_path)
data = data.drop(columns='Unnamed: 0')

In [17]:
data.head()

,Unnamed: 0,user_id,action,cord_x,cord_y,radio,time_since,id,created_at,updated_at,timeElapsed,window_x,window_y
0,0,365,s,0,0.0,NaN,0.000,1,2019-03-05 06:56:35.848652,2019-03-05 06:56:35.848652,245.925,1600,860
1,1,365,m,601,167.0,NaN,0.220,1,2019-03-05 06:56:35.848652,2019-03-05 06:56:35.848652,245.925,1600,860
2,2,365,m,602,166.0,NaN,0.304,1,2019-03-05 06:56:35.848652,2019-03-05 06:56:35.848652,245.925,1600,860
3,3,365,c,602,166.0,NaN,0.432,1,2019-03-05 06:56:35.848652,2019-03-05 06:56:35.848652,245.925,1600,860
4,4,365,m,602,166.0,NaN,0.518,1,2019-03-05 06:56:35.848652,2019-03-05 06:56:35.848652,245.925,1600,860

In [31]:
def mouse_distance(x1, y1, x2, y2):
        """
        Calculates the euclidean distance between two vectors.
        
        return: Integer class object that represents the euclidean distance.
        """

        return math.sqrt((x2 - x1) ** 2 + (y2 - y1) ** 2)

In [28]:
testing_data = data[1:5]
testing_data

,Unnamed: 0,user_id,action,cord_x,cord_y,radio,time_since,id,created_at,updated_at,timeElapsed,window_x,window_y
1,1,365,m,601,167.0,NaN,0.220,1,2019-03-05 06:56:35.848652,2019-03-05 06:56:35.848652,245.925,1600,860
2,2,365,m,602,166.0,NaN,0.304,1,2019-03-05 06:56:35.848652,2019-03-05 06:56:35.848652,245.925,1600,860
3,3,365,c,602,166.0,NaN,0.432,1,2019-03-05 06:56:35.848652,2019-03-05 06:56:35.848652,245.925,1600,860
4,4,365,m,602,166.0,NaN,0.518,1,2019-03-05 06:56:35.848652,2019-03-05 06:56:35.848652,245.925,1600,860

In [36]:
x1 = testing_data['cord_x'][1]
x2 = testing_data['cord_x'][2]

y1 = testing_data['cord_y'][1]
y2 = testing_data['cord_y'][2]

mouse_distance(x1, y1, x2, y2)

1.4142135623730951

In [45]:
for i in range(testing_data.shape[0]):
    print(i)

0
1
2
3

In [43]:
testing_data

13