In [131]:
import pandas as pd
import os
import pathlib as Path
import numpy as np
import re

In [149]:
os.listdir('../Data/Extra')

['last_c.json',
 'Mobile Aspect Ratio.csv',
 'users_with_absolute_response_features.csv',
 'scraped_survey_questions.csv']

In [3]:
votes = pd.read_csv('/Users/kristinaliapchin/Downloads/votes (1).csv')

In [4]:
scraped_survey = pd.read_csv('/Users/kristinaliapchin/Downloads/scraped_survey_questions (1).csv')

In [5]:
scraped_survey.head()

,Unnamed: 0,question_type,questions
0,0,bf_questions,"['Untidy', 'Unenvious', 'Efficient', 'Unkind',..."
1,1,bs_questions,"['When I go shopping, I buy things that I had ..."
2,2,miq_questions,['I can use lots of different words to express...
3,3,pgi_liking_competence_questions,"['Seat patrons at a restaurant', 'Oversee a ho..."

In [6]:
scraped_survey.questions[0]

"['Untidy', 'Unenvious', 'Efficient', 'Unkind', 'Artistic', 'Untalkative', 'Rude', 'Reserved', 'Anxious', 'Warm', 'Moody', 'Envious', 'Untidy', 'Uncreative', 'Intelligent', 'Deep', 'Cooperative', 'Jealous', 'Neat', 'Shy', 'Extraverted', 'Emotional', 'Unworried', 'Quiet', 'Unanxious', 'Organized', 'Inefficient', 'Careless', 'Harsh', 'Emotional', 'Energetic', 'Creative', 'Disorganized', 'Inconsiderate', 'Philosophical', 'Outgoing', 'Kind', 'Systematic', '', '', '', '']"

In [114]:
df = pd.concat([pd.Series(row['question_type'], row['questions'].split(','))
for _, row in scraped_survey.iterrows()]).reset_index()

df = df.rename(columns={"index": "question", 0: "question_type"})

In [115]:
df['question'] = df['question'].map(lambda x: x.lstrip("[").rstrip("]"))
df['question'] = df['question'].map(lambda x: x.lstrip("'").rstrip("'"))

In [117]:
df['question_id'] = 0
c_bs=1
c_miq = 1
c_pgi = 1
for i in range(len(df)):
    if df.loc[i,'question_type'] =='bf_questions':
        df.loc[i,'question_id'] = "bf_"+str(i+1)
    elif df.loc[i,'question_type'] == 'bs_questions':
        df.loc[i,'question_id'] = "bs_"+str(c_bs)
        c_bs+=1
    elif df.loc[i,'question_type'] == 'miq_questions':
        df.loc[i,'question_id'] = "miq_"+str(c_miq)
        c_miq+=1
    elif df.loc[i,'question_type'] == 'pgi_liking_competence_questions':
        df.loc[i,'question_id'] = "pgi_"+str(c_pgi)
        c_pgi+=1
        
df[df['question_type'] == 'bs_questions']

,question,question_type,question_id
42,When I go shopping,bs_questions,bs_1
43,I buy things that I had not intended to purchase,bs_questions,bs_2
44,'When I see something that really interests me,bs_questions,bs_3
45,I buy it without considering the consequences,bs_questions,bs_4
46,'I am greatly attracted by sales and discounts,bs_questions,bs_5
47,'I only buy things that are on discount/sale ...,bs_questions,bs_6

In [126]:
df.iloc[38] = 'Talkative'
df.iloc[39] = 'Unimaginative'
df.iloc[40] = 'Sympathetic'
df.iloc[41] = 'Intellectual'

In [146]:
pattern = r'\'.*?'
df['question']=[re.sub(pattern,'', df.question[i]).strip() for i in range(len(df))]

In [147]:
df

,question,question_type,question_id
0,Untidy,bf_questions,bf_1
1,Unenvious,bf_questions,bf_2
2,Efficient,bf_questions,bf_3
3,Unkind,bf_questions,bf_4
4,Artistic,bf_questions,bf_5
...,...,...,...
161,Study wildlife,pgi_liking_competence_questions,pgi_38
162,Draw cartoons,pgi_liking_competence_questions,pgi_39
163,Supervise children in a nursery,pgi_liking_competence_questions,pgi_40
164,Defend people in court,pgi_liking_competence_questions,pgi_41
165,Smooth wood-furniture with sandpaper,pgi_liking_competence_questions,pgi_42

In [150]:
df.to_csv('../Data/Extra/survey_questions_with_id')

In [151]:
df.to_csv('/Users/kristinaliapchin/Downloads/survey_questions_with_id')