In [2]:
import pandas as pd
# make sure the version is pandas 0.25.0
pd.__version__

'0.25.1'

In [4]:
animals = pd.DataFrame({'kind': ['cat', 'dog', 'cat', 'dog'],
                        'height': [9.1, 6.0, 9.5, 34.0],
                        'weight': [7.9, 7.5, 9.9, 198.0]})

In [8]:
animals.groupby("kind").agg(
    min_height=pd.NamedAgg(column='height', aggfunc='min'),
    max_height=pd.NamedAgg(column='height', aggfunc='max'))

      min_height  max_height
kind
cat          9.1         9.5
dog          6.0        34.0

In [12]:
df = pd.DataFrame([{'var1': 'a,b,i,kjkjh,c', 'var2': 1},
                   {'var1': 'd,e,f', 'var2': 2}])
df

            var1  var2
0  a,b,i,kjkjh,c     1
1          d,e,f     2

In [13]:
df.assign(var1=df.var1.str.split(',')).explode('var1')

    var1  var2
0      a     1
0      b     1
0      i     1
0  kjkjh     1
0      c     1
1      d     2
1      e     2
1      f     2

In [14]:
pd.SparseDataFrame({"A": [0, 1]})

C:\Users\ander\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: SparseDataFrame is deprecated and will be removed in a future version.
Use a regular DataFrame whose columns are SparseArrays instead.

See http://pandas.pydata.org/pandas-docs/stable/user_guide/sparse.html#migrating for more.

  """Entry point for launching an IPython kernel.
C:\Users\ander\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3456: FutureWarning: SparseSeries is deprecated and will be removed in a future version.
Use a Series with sparse values instead.

    >>> series = pd.Series(pd.SparseArray(...))

See http://pandas.pydata.org/pandas-docs/stable/user_guide/sparse.html#migrating for more.

  return klass(values, index=self.index, name=items, fastpath=True)

   A
0  0
1  1

In [15]:
pd.DataFrame({"A": pd.SparseArray([0, 1])})

   A
0  0
1  1

In [18]:
# Old way
from scipy import sparse
mat = sparse.eye(3)
df = pd.SparseDataFrame(mat, columns=['A', 'B', 'C'])
df

C:\Users\ander\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: SparseDataFrame is deprecated and will be removed in a future version.
Use a regular DataFrame whose columns are SparseArrays instead.

See http://pandas.pydata.org/pandas-docs/stable/user_guide/sparse.html#migrating for more.

  after removing the cwd from sys.path.
C:\Users\ander\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\sparse\frame.py:257: FutureWarning: SparseSeries is deprecated and will be removed in a future version.
Use a Series with sparse values instead.

    >>> series = pd.Series(pd.SparseArray(...))

See http://pandas.pydata.org/pandas-docs/stable/user_guide/sparse.html#migrating for more.

  sparse_index=BlockIndex(N, blocs, blens),
C:\Users\ander\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3456: FutureWarning: SparseSeries is deprecated and will be removed in a future version.
Use a Series with sparse values instead.

    >>> series = pd.Series(pd.SparseArray(...))

See http://pandas.pydata.org/pandas-docs/stable/user_guide/sparse.html#migrating for more.

  return klass(values, index=self.index, name=items, fastpath=True)

     A    B    C
0  1.0  NaN  NaN
1  NaN  1.0  NaN
2  NaN  NaN  1.0

In [20]:
# New way
df = pd.DataFrame.sparse.from_spmatrix(mat, columns=['A', 'B', 'C'])
df

     A    B    C
0  1.0  0.0  0.0
1  0.0  1.0  0.0
2  0.0  0.0  1.0