# Dotin Data Prep and EDA

In [1]:
import pandas as pd
import numpy as np
import json

In [11]:
mouse = pd.read_csv('../Data/mouse-flat.csv')


mouse.describe()

,Unnamed: 0,user_id,cord_x,cord_y,time_since,id
count,8.123046e+06,8.123046e+06,8.123046e+06,8.123046e+06,8.123046e+06,8.123046e+06
mean,4.061522e+06,1.176548e+03,6.752315e+02,3.913665e+02,2.894918e+02,3.991314e+02
std,2.344922e+06,4.392326e+02,2.450381e+02,2.029872e+02,2.594780e+02,2.351275e+02
min,0.000000e+00,3.650000e+02,-1.960000e+02,-4.850000e+02,0.000000e+00,1.000000e+00
25%,2.030761e+06,7.850000e+02,5.450000e+02,2.740000e+02,1.110370e+02,1.920000e+02
50%,4.061522e+06,1.210000e+03,6.180000e+02,3.780000e+02,2.133330e+02,4.010000e+02
75%,6.092284e+06,1.576000e+03,8.570000e+02,4.900000e+02,3.983290e+02,6.060000e+02
max,8.123045e+06,1.838000e+03,2.180000e+03,4.000000e+03,2.844241e+03,8.090000e+02

In [4]:
# the created_at and updated_at values are exactly the same
sum((mouse.created_at != mouse.updated_at))

0

In [7]:
# how many users data do we have (non broken)
len(mouse.user_id.unique())

730

There are 802 instances so some users are repeated

In [6]:
# which users are repeated and how many times
mouse.user_id.value_counts()[mouse.user_id.value_counts() > 1]

990     240325
642     160910
647     108504
404      95616
386      84424
764      74036
685      63849
396      56169
971      51840
1170     50828
1077     42720
989      42516
422      41136
444      35708
630      35534
962      33908
646      32808
828      30652
1141     30336
866      30140
718      30084
401      28756
727      28208
645      28190
652      27476
683      27430
1593     26843
395      26484
667      26380
1687     26347
         ...
1832       775
1120       735
1344       731
1551       630
1390       620
1231       594
1429       585
1102       543
1618       531
1795       523
1233       462
1124       462
407        442
1172       410
1265       406
897        395
1807       387
627        369
461        357
878        347
1605       338
1560       238
1053       232
894        230
1384       187
943        160
1530       147
1801       120
904        114
640        108
Name: user_id, Length: 730, dtype: int64

In [ ]:
# descriptive stats on elapsed time
mouse.timeElapsed.describe()

In [ ]:
# descriptitve stats on window_x
mouse.window_x.describe()

In [ ]:
# descriptitve stats on window_y
mouse.window_y.describe()

In [ ]:
# describe the stats on number of frames per user_id-id instance.
mouse_flat.groupby(["user_id","id"]).count()["action"].describe()

The average # of frames for any one instance is ~10.1k

In [ ]:
# let's see the average aspect ratio
print("16:9",16/9)
print("4:3",4/3)
mouse["aspect_ratio"] = mouse["window_x"] / mouse["window_y"]
mouse.aspect_ratio.describe()

Most windows are close to the 16:9 aspect ratio