In [1]:
import pandas as pd
import numpy as np

In [3]:
#read in the data
votes=pd.read_csv("C:/Users/Ergo/Desktop/Git_Dotin/Dotin-Columbia-Castone-Team-Alpha-/Data/Clean Data/votes_v2.csv")

In [4]:
votes.head()

,Unnamed: 0,id,attr,value,score,user_id,weight,created_date,created_time,created_weekday
0,0,1,psy,bf_1,1,365,0.0,2019-03-05,06:56:35.625896,Tuesday
1,1,2,psy,bf_2,1,365,0.0,2019-03-05,06:56:35.628088,Tuesday
2,2,3,psy,bf_3,1,365,0.0,2019-03-05,06:56:35.629157,Tuesday
3,3,4,psy,bf_4,1,365,0.0,2019-03-05,06:56:35.630054,Tuesday
4,4,5,psy,bf_5,1,365,0.0,2019-03-05,06:56:35.630927,Tuesday

In [5]:
def get_min_response(df):
    """Create new column to capture absolute min response (aka 1) as 1=yes, 0=no"""
    if df['score']==1:
        return 1
    else:
        return 0

votes['is_min_response?']= votes.apply(lambda x: get_min_response(x), axis=1)

In [6]:
def get_max_response(df):
    """Create new column to capture absolute max response (aka 5 or 7 depending on question) as 1=yes, 0=no"""
    if "pgi_" in df['value']:
        if df['score']==7:
            return 1
        else:
            return 0
    else:
        if df['score']==5:
            return 1
        else: 
            return 0
        
votes["is_max_response?"]=votes.apply(lambda x: get_max_response(x), axis=1)

In [7]:
#function to group survey responses by type and see if they have been responded as an absolute min and max 
#as an aggregate

def create_question_buckets(df):
    """Create a new column to bucket questions by category"""
    if "bf_" in df['value']:
        return "bf_questions"
    elif "bs_" in df['value']:
        return "bs_questions"
    elif "miq_" in df['value']:
        return "miq_questions"
    else:
        return "pgi_questions"

votes['question_category']=votes.apply(lambda x: create_question_buckets(x), axis=1)

In [18]:
#ABSOLUTE MIN/MAX RESPONSE CALCULATIONS#

#create pivot table for absolute min/max answer to aggregate information

abs_minmax_pivot_table=pd.pivot_table(votes, index=['user_id'], columns=['question_category'],values=['is_min_response?', 
                                'is_max_response?'],aggfunc=[np.sum, len])

In [16]:
#turn pivot table to regular dataframe
abs_minmax_pivot_table.columns = abs_minmax_pivot_table.columns.droplevel(0)
abs_minmax_votes = abs_minmax_pivot_table.reset_index().rename_axis(None, axis=1)

In [20]:
#change column names for is_min_responses
abs_minmax_votes.columns=['user_id','is_max_bf_questions','is_max_bs_questions','is_max_miq_questions','is_max_pgi_questions',
                          'is_min_bf_questions', 'is_min_bs_questions','is_min_miq_questions','is_min_pgi_questions',
                         'bf_max_len','bs_max_len','miq_max_len','pgi_max_len',
                         'bf_min_len','bs_min_len','miq_min_len', 'pgi_min_len']

In [23]:
abs_minmax_votes.head()

,user_id,is_max_bf_questions,is_max_bs_questions,is_max_miq_questions,is_max_pgi_questions,is_min_bf_questions,is_min_bs_questions,is_min_miq_questions,is_min_pgi_questions,bf_max_len,bs_max_len,miq_max_len,pgi_max_len
0,365,10,0,0,0,8,0,0,0,42,4,66,84
1,371,0,1,7,4,42,2,9,71,42,4,66,84
2,373,7,1,7,8,0,0,0,1,42,4,66,84
3,374,8,1,15,0,0,0,0,0,42,4,66,84
4,375,3,0,1,0,0,0,1,0,42,4,66,84

In [24]:
#function to capture users who have selected only absolute min or max per question category

#for bf_questions
def abs_min_users_bf(df):
    """Create new column to capture users who have full absolute min response for bf_questions"""
    
    if df['is_min_bf_questions']==df['bf_max_len']:
        return 1
    else:
        return 0

abs_minmax_votes['bf_abs_min_response?']=abs_minmax_votes.apply(lambda x: abs_min_users_bf(x), axis=1)

################################
def abs_max_users_bf(df):
    """Create new column to capture users who have full absolute min response for bf_questions"""
    
    if df['is_max_bf_questions']==df['bf_max_len']:
        return 1
    else:
        return 0
    
abs_minmax_votes['bf_abs_max_response?']=abs_minmax_votes.apply(lambda x: abs_max_users_bf(x), axis=1)

In [26]:
#function to capture users who have selected only absolute min or max per question category

#for bs_questions
def abs_min_users_bs(df):
    """Create new column to capture users who have full absolute min response for bs_questions"""
    
    if df['is_min_bs_questions']==df['bs_max_len']:
        return 1
    else:
        return 0

abs_minmax_votes['bs_abs_min_response?']=abs_minmax_votes.apply(lambda x: abs_min_users_bs(x), axis=1)

################################
def abs_max_users_bs(df):
    """Create new column to capture users who have full absolute min response for bs_questions"""
    
    if df['is_max_bs_questions']==df['bs_max_len']:
        return 1
    else:
        return 0
    
abs_minmax_votes['bs_abs_max_response?']=abs_minmax_votes.apply(lambda x: abs_max_users_bs(x), axis=1)

In [27]:
#function to capture users who have selected only absolute min or max per question category

#for miq_questions
def abs_min_users_miq(df):
    """Create new column to capture users who have full absolute min response for miq questions"""
    
    if df['is_min_miq_questions']==df['miq_max_len']:
        return 1
    else:
        return 0

abs_minmax_votes['miq_abs_min_response?']=abs_minmax_votes.apply(lambda x: abs_min_users_miq(x), axis=1)

################################
def abs_max_users_miq(df):
    """Create new column to capture users who have full absolute min response for miq questions"""
    
    if df['is_max_miq_questions']==df['miq_max_len']:
        return 1
    else:
        return 0
    
abs_minmax_votes['miq_abs_max_response?']=abs_minmax_votes.apply(lambda x: abs_max_users_miq(x), axis=1)

In [28]:
#function to capture users who have selected only absolute min or max per question category

#for pgi_questions
def abs_min_users_pgi(df):
    """Create new column to capture users who have full absolute min response for pgi_questions"""
    
    if df['is_min_pgi_questions']==df['pgi_max_len']:
        return 1
    else:
        return 0

abs_minmax_votes['pgi_abs_min_response?']=abs_minmax_votes.apply(lambda x: abs_min_users_pgi(x), axis=1)

################################
def abs_max_users_pgi(df):
    """Create new column to capture users who have full absolute min response for pgi_questions"""
    
    if df['is_max_pgi_questions']==df['pgi_max_len']:
        return 1
    else:
        return 0
    
abs_minmax_votes['pgi_abs_max_response?']=abs_minmax_votes.apply(lambda x: abs_max_users_pgi(x), axis=1)

In [30]:
#extract only the question-abs-minmax-response? features
final_dataset=abs_minmax_votes[['user_id','bf_abs_min_response?','bf_abs_max_response?',
                               'bs_abs_min_response?','bs_abs_max_response?',
                               'miq_abs_min_response?', 'miq_abs_max_response?',
                               'pgi_abs_min_response?','pgi_abs_max_response?']]

In [32]:
final_dataset.to_csv("C:/Users/Ergo/Desktop/Git_Dotin/Dotin-Columbia-Castone-Team-Alpha-/Data/Extra/min_max_response.csv")