In [18]:
import os 
import pandas as pd

In [83]:
# set working directory (Change for youe)
os.chdir('C:/Users/ander/Google Drive/Columbia/Fall 2019/Capstone/Dotin-Columbia-Castone-Team-Alpha-')

# initilize path
mouse_flat_path = 'Data/Clean Data/mouse_flat_v2.csv'

# read file 
data = pd.read_csv(mouse_flat_path)

In [136]:
coordinates =  data[['user_id','cord_x', 'cord_y']]

In [50]:
testing = coordinates[1:100]
tesing.head()

   user_id  cord_x  cord_y
1      365     601   167.0
2      365     602   166.0
3      365     602   166.0
4      365     602   166.0
5      365     602   166.0

In [86]:
testing.loc[2,'cord_x'] - tesing.loc[1,'cord_x']

1

In [109]:
distance_x = []
distance_y = []

for user in user_id_list:
    sub_user = data[data.user_id == user]
    
    for value in range(len(sub_user)): 
        if value < 2:
            distance_x.append(0)
            distance_y.append(0)
        else: 
            change_x = data.loc[value,'cord_x'] - data.loc[value-1, 'cord_x'] 
            change_y = data.loc[value,'cord_y'] - data.loc[value-1, 'cord_y'] 

            distance_x.append(change_x)
            distance_y.append(change_y)

In [159]:
coordinates['distance x'] = distance_x
coordinates['distance y'] = distance_y

C:\Users\ander\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\ander\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [164]:
testing_coor = coordinates[1:20]
testing_coor.head()

   user_id  cord_x  cord_y  distance x  distance y
1      365     601   167.0           0         0.0
2      365     602   166.0           1        -1.0
3      365     602   166.0           0         0.0
4      365     602   166.0           0         0.0
5      365     602   166.0           0         0.0

In [154]:
direction = []
for value in range(len(testing)) :
    if coordinates.loc[1,'distance x'] == 0 and coordinates.loc[1,'distance y'] == 0: 
        direction.append('North')
    elif coordinates.loc[1,'distance x'] > 1 and coordinates.loc[1,'distance y'] == 0:
        direction.append('East')
    elif coordinates.loc[1,'distance x'] = 0 and coordinates.loc[1,'distance y'] > 0: